@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
  /* ### Primary */
  --pink: hsl(322, 100%, 66%);
  /* ### Neutral */
  --veryPaleCyan: hsl(193, 100%, 96%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --grayishBlue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

/* all anchor */
a {
  text-decoration: none;
  color: inherit;
}

/* all heading */
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* header seaction with a nav and hero */
header {
  min-height: 80vh;
  background-image: url(../images/bg-hero-mobile.svg);
  background-color: var(--veryPaleCyan);
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: contain;
}

nav {
  padding: 20px 15px;
}

.nav-logo {
  width: 25%;
}

.btn-1 {
  padding: 5px 22px;
  background-color: white;
  border-radius: 20px;
  float: right;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 0.6rem;
  font-weight: 700;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
}

.hero-text {
  text-align: center;
  padding: 1.2rem;
}

.hero-text h1 {
  font-size: 25px;
}

.hero-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  padding: 15px 25px;
}

.hero-text .hero-btn {
  margin: 12px 0;
}

.btn-2 {
  padding: 12px 50px;
  background-color: var(--pink);
  border-radius: 20px;
  font-size: 12px;
  margin: 1rem 0;
  color: white;
}

.btn-2:hover {
  opacity: 70%;
}

.hero .hero-img {
  width: 80%;
  margin: 0 auto;
}
/* header with nav and hero done */

/* main with section of features */
.main {
  margin: 50px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  gap: 2rem;
}

.features-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 340px;
  min-height: 450px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.299);
  padding: 22px;
}

.features-card .feature-img {
  width: 80%;
  margin: 25px 0;
}

.features-bottom {
  text-align: center;
}

.features-bottom p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  padding: 12px 15px 0;
  color: var(--grayishBlue);
}

/* call to action section */
.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 425px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.299);
  padding: 1rem;
  transform: translateY(50%);
  position: relative;
  background-color: white;
  z-index: 2;
}

.call-to-action h3 {
  margin-top: 15px;
  font-size: 0.9rem;
  text-align: center;
}

/* main end  */

/* footer section  */
.footer {
  background-color: var(--veryDarkCyan);
  color: white;
  padding: 100px 15px 30px;
  font-size: 15px;
  overflow: visible;
  z-index: -1;
}

.bottom-logo {
  margin: 20px 0;
  filter: invert(50%);
  color: white;
}

.bottom-grid {
  display: grid;
  grid-template-rows: 200px 200px auto;
  grid-gap: 1rem;
}

.contact {
  display: grid;
  grid-template-columns: 30px auto;
}

.contact-icon {
  margin-top: 5px;
}

.pages {
  display: flex;
  flex-direction: column;
}

.pages a:hover{
  text-decoration: underline;
}

.first-page-links , .second-page-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.soical-links {
  text-align: center;
}

.soical-links i {
  border-radius: 50%;
  border: 1px solid #ebfbff;
  padding: 0.55em 0.7em;
  margin: 0 5px;
}

.fa-facebook-f:before {
  content: '\f39e';
}

.fa-twitter:before {
  content: '\f099';
}

.fa-instagram:before {
  content: '\f16d';
}

.soical-links i:hover {
  color: var(--pink);
  border: 1px solid var(--pink);
}

.copy-right {
  margin: 20px 0;
  text-align: center;
}

/* .attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* all media queries */
/* tablet */
@media all and (min-width: 768px) {
  .features-card {
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 780px;
    min-height: 280px;
    gap: 3rem;
  }

  .feature-card-2 {
    flex-direction: row;
    max-width: 780px;
    min-height: 280px;
  }

  .features-card .feature-img {
    width: 40%;
    margin: 10px 0;
  }

  .features-bottom {
    text-align: left;
    width: 300px;
  }

  .features-bottom p {
    font-size: 13px;
    line-height: 1.4;
    padding: 10px 0 0;
  }

  .call-to-action {
    min-width: 500px;
  }
}

/* laptop */
@media all and (min-width: 1400px) {
  header {
    background-image: url(../images/bg-hero-desktop.svg);
  }
  nav {
    padding: 35px;
  }

  .nav-logo {
    width: 15%;
  }

  .btn-1 {
    padding: 10px 35px;
  }

  .hero {
    flex-direction: row;
    margin: 1.4rem 3rem;
    gap: 1rem;
  }

  .hero-text {
    text-align: left;
    padding: 1.2rem;
  }

  .hero-text p {
    padding: 15px 0px;
  }
  .hero .hero-img {
    width: 50%;
  }

  .features-card {
    max-width: 1199px;
    height: 320px;
    gap: 1rem;
  }

  .feature-card-2 {
    max-width: 1199px;
    min-height: 280px;
    gap: 1rem;
  }

  .features-card .feature-img {
    width: 30%;
    margin: 10px 0;
  }

  .features-bottom {
    text-align: left;
    width: 470px;
  }

  .footer{
    padding: 90px 90px 20px;
  }

  .bottom-grid {
    display: grid;    grid-template-columns: 520px 300px auto;
    grid-template-rows: auto;
    gap: 4rem;
    margin-top: 20px;
  }

  .contact{
    grid-gap: 1.2rem;
  }

  .pages {
    flex-direction: row;
    gap: 4.5rem;
  }

  .first-page-links , .second-page-links{
    gap: 1rem;
  }

  .copy-right{
    text-align: right;
  }
}
